@import 'nib'

html
  padding 10px
  font-family Verdana, sans-serif

html, body, .full-height
    height: 100%

body
    padding: 20px 0px 0px

#login-buttons
    padding: 6px 12px
    line-height: 1.42857143
    text-align: center
    vertical-align: middle
    background-color: black
    border: 1px solid #ccc
    border-radius: 4px
    .login-link-text, &:hover
        text-decoration: none
        color: white

.row.upper
    height: 85%

.row.footer
    height: 15%

.list
    overflow: auto
    max-height: 40%

.editor-container
    position: relative
    padding: 0px

#editor.shareJSAce
  position: absolute
  left: 0
  right: 0
  top: 60px
  bottom: 0

#editor.shareJSText
  width: 100%
  height: 80%
