<head>
  <title>Code Pilot</title>
</head>

<template name="main">
  <div class="container full-height">
    <div class="col-xs-3 full-height">
      <div class="sidebar">
        <h1><a href="/"> Code Pilot </a></h1>
        {{> loginButtons}}
        {{#if currentUser }}
        {{> navigation }}
        {{> filelist }}
        {{> chat }}
        {{/if}}
      </div>
    </div>

    {{> yield}}

  </div>
</template>

<!-- navigation icons from http://glyphicons.com/ -->

<template name="navigation">
  <div class="btn-group btn-group-justified" role="toolbar">
    {{#each navItems}}
    <a role='button' class='btn btn-primary' href="{{ iconpath }}">
      <span class="glyphicon glyphicon-{{ iconname }}"
            aria-label="{{ iconname }}"></span>
    </a>
    {{/each}}
  </div>
</template>
