html
    font-family Verdana, sans-serif
    padding 10px

html, body, .full-height
    height 100%

.list
    max-height 150px
    overflow auto
    margin 10px

.navbar
    border 1px solid rgba(0, 0, 0, 1)
    border-radius 4px 4px 0px 0px

.btn:hover
    color white

.grn:hover
    background-color green

.content-container
    max-width 600px

.editor-container
    height 70%
    position relative
    padding 0px

#active-file
    background-color #d9edf7;
    color rgb(49, 112, 143);

#editor.shareJSAce
    position absolute
    margin-bottom 15px
    top 52px
    bottom 0
    right 0
    left 0

#editor.shareJSText
    width 100%
    height 50%
