html
    font-family Verdana, sans-serif
    padding 10px

html, body, .full-height
    height 100%

ins
    background rgb(223, 240, 216)

del
    background rgb(242, 222, 222)

.mainbody
    padding-top 40px

.sidebar
    top 50px
    left 20px
    max-width 30vw
    max-height 100%
    position fixed

.sidelist
    max-height 25vh
    overflow-y scroll
    overflow-x hidden

.nav.sidelist > li > a
    padding 5px

.center
    display block
    margin auto

.hidden
    visibility hidden

.white
    background white

.wide
    max-width 500px
    width 100%

.wider
    width 100%

.panel
    margin-top 20px

.nomargin
    margin 0px

.nomargin-image
    margin-top -20px

a.btn
    background buttonface
    color rgb(85, 85, 85)
    text-decoration none

.btn:hover
    color white

.grn:hover
    background-color green

.edit:hover
    background-color orange

.del:hover
    background-color red

#active-file
#active-commit
#active-issue
#active-task
    background-color #d9edf7
    color rgb(49, 112, 143)

.navbar-code
    border 1px solid rgba(0, 0, 0, 1)
    border-radius 4px 4px 0px 0px
    background-color white

.editor-container
    position relative
    padding 20px 0px

#editor.shareJSAce
    position absolute
    margin-bottom 15px
    top 72px
    bottom 0
    right 0
    left 0

#editor.shareJSText
    width 100%
    height 80%

// line numbering the diffs

pre.diff
    border none
pre .cl
    display block
    clear both
pre .line-number span
    display block
    padding 0 .5em 0 1em
pre code, pre .line-number
    font normal normal 12px/14px "Courier New",Courier,Monospace
    color black
    display block
pre .line-number
    float left
    margin 0 1em 0 -1em
    border-right 1px solid
    text-align right
