<!-- editor layout -->

<template name="editor">
  {{#with docid}}
  {{> filename this}}
  {{> sharejsAce docid=this onRender=configAce id="editor"}}
  {{/with}}
</template>

<template name="filename">
  <div class="navbar navbar-default">
    <form class="navbar-form pull-right">
      {{#if rename}}
      <input class="form-control" type="text" name="title" value="{{title}}">
      {{else}}
      <button class="edit btn btn-warning btn-small">Rename</button>
      {{/if}}
      <button class="del btn btn-danger btn-small">Delete</button>
    </form>
  </div>
</template>
