<!-- editor layout -->

<template name="editor">
  {{#with docid}}
  {{> filename this}}
  {{> sharejsAce docid=this onRender=configAce id="editor"}}
  {{/with}}
</template>

<template name="filename">
  <div class="navbar navbar-default">
    <div class="container-fluid">

      {{#if rename}}
      <form class="navbar-form pull-left">
        <input id="namefield" class="form-control" type="text"
        name="title" value="{{title}}">
      </form>
      {{else}}
      <strong>
        <p class="navbar-text"> ~/{{title}} </p>
      </strong>
      {{/if}}

      <form class="navbar-form pull-right">
        <button class="edit btn btn-warning btn-small">Rename</button>
        <button class="del btn btn-danger btn-small">Delete</button>
      </form>

    </div>
  </div>
</template>
