<template name="main">
  <div class="container full-height">

    <div class="row upper">
      <div class="col-xs-3 full-height">
        <div class="sidebar">
  <h1><a href="/"> CodePilot </a></h1>
  {{> tabs }}
  {{> loginButtons}}
          {{> filelist }}
          {{> roles }}
          {{> chat }}
        </div>
      </div>
      <div class="col-xs-9 editor-container full-height">
        {{> editor }}
        <!--<p> testing... </p>-->
        <!--<p> linking... </p>-->
      </div>
    </div>

    <div class="row footer">
      <div class="col-xs-3">{{! placeholder}}</div>
    </div>

  </div>
</template>

<template name="tabs">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#">Code</a></li>
    <li role="presentation"><a href="#">Tests</a></li>
    <li role="presentation"><a href="#">Git</a></li>
  </ul>
</template>

<template name="roles">
  <h3> Role Selection</h3>
  <div class="container-fluid">
    <form id="roleselect" class="center navbar-form">
      <button class="grn btn btn-small">Pilot</button>
      <button class="grn btn btn-small">CoPilot</button>
    </form>
  </div>
</template>
