<template name="main">
  <div class="container full-height">

    <div class="row upper">
      <div class="col-xs-3 full-height">
        <div class="sidebar">
          {{> tabs }}
          {{> filelist }}
          {{> chat }}
        </div>
      </div>
      <div class="col-xs-9 editor-container full-height">
        {{> editor }}
        <!--<p> testing... </p>-->
        <!--<p> linking... </p>-->
      </div>
    </div>

    <div class="row footer">
      <div class="col-xs-3">{{! placeholder}}</div>
    </div>

  </div>
</template>

<template name="tabs">
  <h1> CodePilot </h1>
  {{> loginButtons}}
  <ul class="nav nav-pills">
    <li role="presentation"><a href="#">Code</a></li>
    <li role="presentation"><a href="#">Roles</a></li>
    <li role="presentation"><a href="#">Tests</a></li>
    <li role="presentation"><a href="#">Links</a></li>
  </ul>
</template>
