// stylus mixins

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

// main stylus

html
    font-family Verdana, sans-serif
    padding 10px

html, body, .full-height
    height 100%
    line-height normal

h5
    text-decoration underline

//.mainbody

.main-content
    top 50px
    left 30vw
    width 70vw
    max-width 70vw
    position absolute

.sidebar
    top 50px
    left 0px
    width 30vw
    max-width 30vw
    max-height 100%
    position fixed
    border-right thin dotted #222

.header
    background-color #337AB7
    color white
    height 48px
.header p
    font-size 16px

.panel
.panel-heading
    border-width 1px 0px 0px 0px
    border-radius 0px
    margin-bottom 0px
    margin-top 0px

.sidelist
    max-height 30vh
    overflow-y scroll
    overflow-x hidden

.nav.sidelist > li.msg
.nav.sidelist > li.file > a
    padding 5px

.center
    display block
    margin auto

.round
    border-radius(4px)

.hidden
    visibility hidden

.white
    background white

.wide
    max-width 500px
    width 100%

.wider
    width 100%

.nomargin
    margin 0px

.nomargin-image
    margin-top -20px

.alert
.list-group
    margin-bottom 0

a.btn
    background buttonface
    color rgb(85, 85, 85)
    text-decoration none

.btn:hover
    color white

.grn:hover
    background-color green

.edit:hover
    background-color orange

.del:hover
    background-color red

#active-file
#active-commit
#active-issue
button.list-group-item:hover
    background-color #d9edf7
    color rgb(49, 112, 143)

#mainhead
    background-color #337AB7
    color white
    height 48px
#mainhead p
    font-size 16px

#editor-container
    height 800px // todo: make this dynamic

#editor
    position absolute
    top 48px
    bottom 0
    right 0
    left 0

#setup
    margin-top -3px

// line numbering the diffs

pre.diff
    line-height 1
    border none
    margin 0
pre.ins
    background rgb(223, 240, 216)
pre.del
    background rgb(242, 222, 222)
span.lineno
    font-style italic
    margin-left 0.5em
    float left

