// variable defs

lightgreen = rgb(223, 240, 216)
lightred = rgb(242, 222, 222)
lightgray = #f5f5f5
lightblue = #d9edf7
darkblue = #337AB7
darkgray = #222
midgray = #ddd

// stylus mixins

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments
w-content(w)
    max-width w
    top 50px
    width w
v-center(n)
    vertical-align middle
    margin-bottom 0px
    margin-top n
heading-style(txt, bg, border)
    border-width 1px 0px 0px 0px
    background-color bg
    border-color border
    border-style solid
    font-size 16px
    height 48px
    color txt

// main stylus

html
    font-family Verdana, sans-serif
    padding 10px
html, body
    line-height normal
    height 100%
h5
    text-decoration underline

// main body

.main-content
    padding-bottom 5em
    position absolute
    w-content(70vw)
    left 30vw
.header // colors: txt, bg, border
    heading-style(black, lightgray, midgray)
.sidebar
    border-right thin dotted darkgray
    max-height 100%
    position fixed
    w-content(30vw)
    left 0px
.navbar-nav
    font-size 16px
.navbar-text
    v-center(14px)
.navbar-form
    v-center(6.5px)
.full-height
    height 100%
.sidelist
    max-height 30vh
    overflow-y scroll
    overflow-x hidden
.nav.sidelist > li.msg
    padding 5px
.center
    display block
    margin auto
.tcenter
    text-align center
.round
    border-radius(4px)
.hidden
    visibility hidden
.wide
    max-width 500px
    width 100%
.wider
    width 100%
.nomargin
    margin 0px
.nomargin-image
    margin-top -20px
.panel
.panel-heading
    border-width 1px 0px 0px 0px
    border-radius 0px
    margin-bottom 0px
    margin-top 0px
.alert
.list-group
    margin-bottom 0

// button styling

a.btn
    background buttonface
    color rgb(85, 85, 85)
    text-decoration none
.btn:hover
    color white
.grn:hover
    background-color green
.edit:hover
    background-color orange
.del:hover
    background-color red

// id based styles

#mainhead // colors: txt, bg, border
    heading-style(white, darkblue, white)
#mainlogin
    background darkgreen
    list-style none
    padding 0px
    height 48px
#mainlogin li.login
    border-radius(4px)
    padding 15px
#mainlogin li.login a
    text-decoration none
    color lightgray
#editor-head // colors: txt, bg, border
    heading-style(white, darkblue, white)
    position fixed
    width 100%
    .navbar-form
        margin-right 31vw
        padding 0px
#editor-container
    overflow hidden
    height 83vh
#editor
    position absolute
    top 48px
    bottom 0
    right 0
    left 0
#testviz
#testweb
.resize
    min-height 300px
    height 100%
    width 100%
#welcome
    padding-top: 5em
    max-width: 800px
#active-file
#active-issue
#active-commit
li.file:hover a
button.list-group-item:hover
    background-color lightblue
    color darkblue

// line numbering the diffs

pre.diff
    line-height 1
    padding: 5px
    border none
    margin 0
pre.ins
    background lightgreen
pre.del
    background lightred
span.lineno
    font-weight lighter
    font-style italic
    margin-left 0.5em
    float left

// jquery ui resizer

.ui-resizable-s
    background lightgray
    height 25px
    bottom 0px
.ui-resizable-s:hover
    background midgray
.ui-resizable-helper
    border 2px dotted #00F

// smaller bootstrap nav

@media (min-width: 400px) {
.navbar-toggle {
    display: none; }
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto; }
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
.navbar-nav {
    float: left !important;
    margin: 0; }
.navbar-right {
    float: right !important;
    margin: 0; }
.navbar-nav>li {
float: left; }
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px; }
}

// firepad editor

a.powered-by-firepad
    display none
#firepad-container
    background-color black
    height 100%
    width 100%
    color gray
